.selectors-container {
    background: #f2f2f2;
    margin-bottom: 1rem;
    font-size: 0;
}

.selectors-container .col {
    font-size: 1.2rem;
    width: calc(50% - 1em);
    padding: 0.5em;
    display: inline-block;
}

.selectors-container select {
    width: 100%;
    font-size: 16px; /* prevent page zoom in iOS */
}

@media (max-width: 768px) {
    .selectors-container .col {
        display: block;
        width: calc(100% - 1em);
    }
}

.highlight-row-30 table>tbody>tr:nth-last-child(-n+30) {
    background-color: skyblue;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}


.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #cedbd5; /* Choose your own color here */
}



.table-striped2 {
     text-align: left;
     width: 100%;
     border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-striped2 tbody th {
    font-weight: bold;
}
.table-striped2 th,
.table-striped2 td {
    padding: 12px 15px;
}

.table-striped2>tbody>tr:nth-child(odd)
{
  background-color:#FDEBD0;
}
.table-striped2>tbody>tr:nth-child(even) {
  background-color:#f2f2f2;
}


.group {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 2px;

}
.container>.a:not(:last-child) {
 margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #96b5b1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #f7a881;
}

.topnav{
 text-align: center;
 color:#f7a881;
 padding: 20px 20px 20px 20px;
 font-size: 6vw;
 font: italic bold 50px/50px Georgia, serif;
}




/* CSS */
.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}

#comparechartcontainer {
    height: 600px;
}