{% extends 'base.html' %}

{% set title = 'FYP-22-S2-03' %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div style="border-style:solid;border-color:#c7ebe6;border-width: 30px 30px 30px 30px;border-radius: 25px;background-color:#f29466;color:black;padding:25px 0;">
  <h1 style="text-align:center;color:#c7ebe6;font: italic bold 50px/50px Georgia, serif;">Stock prediction app</h1>
  <form method="post" class="d-flex" role="search">
    <div class="container row">
        <label style="text-align:right;color:#c7ebe6;font: italic bold 15px/15px Georgia, serif;"  for="searchSymbol" class="col-sm-2 col-form-label">Enter stock symbol</label>
        <div class="col-sm-10">
          <input class="form-control" type="search" name="search_symbol" id="search_symbol" placeholder="Stock symbol" aria-label="Search">
          <span id="search_error" class="text-danger">{{ search_error }}</span><br>
        </div>
        <label style="text-align:right;color:#c7ebe6;font: italic bold 15px/15px Georgia, serif;"  for="searchSymbol" class="col-sm-2 col-form-label">Compare stock (optional)</label>
        <div class="col-sm-10">
          <input class="form-control" type="search" name="compare_symbol" id="compare_symbol" placeholder="Stock symbol" aria-label="Compare">
          <span id="compare_error" class="text-danger">{{ compare_error }}</span><br>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </div>
  </form>
  <div class="container">
    <h2 style="color:#c7ebe6;font: italic bold 50px/50px Georgia, serif;">Top searches</h2>
    <div>
      <table class="table-striped2">
        <tr>
          <th>Rank</th>
          <th>Stock Symbol</th>
        </tr>
        {% for search in searches %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ search[0] }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  </div>
{% endblock %}
